---
---

<div class="chapter-transition my-16 md:my-24 flex justify-center">
  <div class="w-16 h-px bg-[var(--color-text-secondary)] dark:bg-[var(--color-text-secondary-dark)] opacity-30"></div>
</div>
